:root {
  --main-color: #5eb647;
  --second-color: #ffff;
  --third-color: #6cd052;
  --fourth-color: #000;

  --font-size: 2.5rem;
  --margins: 1.875rem;
  --border-radius: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding: 1.125rem 6.25rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  gap: var(--margins);
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  filter: brightness(105%);
}

.navbar-container li::marker {
  content: "";
}

.navbar-link {
  text-decoration: none;
  list-style-type: none;
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.375rem;
}

li .navbar-link:hover,
li .navbar-link:focus {
  filter: brightness(120%);
}

.ad-container {
  background-color: var(--main-color);
  display: flex;
  gap: 1.25rem;
  text-align: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.ad-container p {
  font-size: 1.5rem;
  color: var(--second-color);
}

.ad-container a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255, 0.5);
}

.headline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.9375rem;
  margin-bottom: 5rem;
}

.headline img {
  max-width: 21.875rem;
  padding-top: 2rem;
}

.headline-text {
  text-align: center;
  max-width: 25rem;
  font-size: 3.125rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.headline-text span {
  color: #37900f;
}

.headline-text button {
  background-color: var(--third-color);
  border: none;
  padding: 1rem;
  font-size: var(--margins);
  border-radius: var(--border-radius);
  color: var(--second-color);
}

.sobre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3.4375rem;
  max-height: 30.875rem;
}

.sobre img {
  max-width: 25rem;
  margin-top: 1.25rem;
  margin-right: 4.375rem;
}

.sobre-text h2 {
  font-size: var(--font-size);
  font-weight: 700;
  margin-bottom: 2.1875rem;
  line-height: 4.0625rem;
}

.sobre-text {
  max-width: 35rem;
  text-align: left;
}

.sobre-text p {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: var(--margins);
  padding-bottom: 1.5625rem;
}

.best-sellers {
  display: flex;
  cursor: pointer;
  max-width: 100vw;
  justify-content: center;
  list-style: none;
  margin-top: 6.25rem;
  margin-bottom: 5rem;
}

.plant-names {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.plant-box h4 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.375rem;
}

.best-sellers img {
  display: flex;
}

.best-sellers img:hover {
  transform: scale(1.1);
}

.best-sellers-title {
  font-size: var(--font-size);
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem;
}

.nowrap {
  white-space: nowrap;
}

.contact-box {
  display: flex;
  max-width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 9.375rem 20rem 3.125rem 20rem;
  border-radius: var(--border-radius);
  border: 0.3125rem solid var(--main-color);
}

.media-container h2 {
  color: var(--fourth-color);
  font-size: var(--font-size);
  font-weight: 700;
}

fieldset {
  border: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  color: var(--fourth-color);
  font-size: 1.5em;
  font-weight: 700;
}

.contact-box input {
  width: 37.0625rem;
  height: 3.5rem;
  border: none;
  border-radius: var(--border-radius);
  background: #d9d9d9;
  box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.9375rem;
}

.contact-box textarea {
  width: 37.0625rem;
  height: 13.625rem;
  border: none;
  border-radius: var(--border-radius);
  background: #d9d9d9;
  box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
  resize: none;
}

.media-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margins);
}

.media-box {
  width: 12.5rem;
  display: flex;
}
.media-box img {
  width: 4.375rem;
  height: auto;
  cursor: pointer;
}

.media-box img:hover {
  filter: hue-rotate(250deg);
}

.plant-side {
  display: flex;
  width: 28.125rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  height: 2.5rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.footer span {
  color: var(--second-color);
  font-size: 1.2em;
  font-weight: 700;
}

.submit-btn {
  margin-top: var(--margins);
  width: 11.625rem;
  height: 3.6875rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: var(--second-color);
  text-align: center;
  font-size: 1.5625rem;
}
